html {
    box-sizing: border-box;
}

*,
*::before,
 *::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'),
  url('../fonts/montserrat-v18-latin_cyrillic-regular.woff2') format("woff2"),
  url('../fonts/montserrat-v18-latin_cyrillic-regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'),
  url('../fonts/montserrat-v18-latin_cyrillic-600.woff2') format("woff2"),
  url('../fonts/montserrat-v18-latin_cyrillic-600.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'),
  url('../fonts/montserrat-v18-latin_cyrillic-700.woff2') format("woff2"),
  url('../fonts/montserrat-v18-latin_cyrillic-700.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraBold'),
  url('../fonts/montserrat-v18-latin_cyrillic-800.woff2') format("woff2"),
  url('../fonts/montserrat-v18-latin_cyrillic-800.woff') format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-color: #E1670E;
  --section-hero-button: #FF9900;
  --main-color-text-dark: #333333;
  --main-color-text-light: #FFFFFF;
  --main-color-text-grey: #CACACA;
  --bg-footer: #222222;
  --footer-input-bg: #414141;
}

a {
  margin: 0;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

body {
  /* min-width: 1920px; */
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main-color-text-light);
}

/*glob*/
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 58.51px;
  color: var(--main-color-text-dark);
}

section {
  margin: 0;
  margin-bottom: 100px;
}

/* header */
.header {
  padding: 14px 0;
}

.header__logo {
  margin-right: auto;
}

.header__container {
  min-height: 65px;
  align-items: center;
}

.header__nav {
  margin-right: 85px;
}

.header-menu__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.header-menu__item:not(:last-child) {
  margin-right: 85px;
}

.header-menu__link {
  color: var(--main-color-text-dark);
  transition: color .2s ease;
}

.header-menu__link:focus {
  outline: 2px solid var(--section-hero-button);
  outline-offset: 3px;
}

.header-menu__link:hover {
  border-bottom: 2px solid var(--section-hero-button);
}

.header-menu__link:active {
  outline: none;
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.header__search-icon {
  transition: stroke .1s ease, fill .1s ease;
}

.header__search:focus {
  outline: 2px solid var(--section-hero-button);
  outline-offset: 3px;
}

.header__search:hover .header__search-icon path{
  stroke: var(--section-hero-button);
}

.header__search:hover .header__search-icon rect{
  fill: var(--section-hero-button);
}

.burger {
  --burger-width: 30px;
  --burger-height: 23px;
  width: var(--burger-width);
  height: var(--burger-height);
  position: relative;
  color: #000000;
  display: none;
}

/* hero */
.banner__slide {
  padding: 100px 80px;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__slide--1 {
  background-image: url(../img/hero-bg1.png);
}

.hero__title {
  margin: 0;
  margin-bottom: 24px;
  max-width: 837px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--main-color-text-light);
}

.hero__text {
  margin: 0;
  margin-bottom: 90px;
  max-width: 790px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--main-color-text-light);
}

.hero__button {
  background-color: var(--section-hero-button);
  padding: 24.83px 36.88px;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  color: var(--main-color-text-light);
  transition: background-color .2s ease;
}

.hero__button:focus {
  outline: none;
  background-color: rgba(255, 153, 0, 0.7);
}

.hero__button:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.hero__button:active {
  outline: none;
  background-color: var(--main-color);
}

/* about */
.about__descr {
  margin-bottom: 50px;
  max-width: 1235px;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-color-text-dark);
}

.about__tab-left {
  width: 49.2%;
  min-height: 622px;
  position: relative;
  align-items: flex-end;
  margin-right: 32px;
  outline: 1px solid var(--main-color-text-grey);
}

.about__tab-left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url(../img/about-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.about__tab-left-dark {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.about__tab-left-descr {
  margin: 0;
  max-width: 60%;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-color-text-light);
}

.about__button {
  padding: 20px 38px;
  border: 3px solid var(--main-color);
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-color-text-light);
  transition: background-color .2s ease;
  transition: border .1s ease;
}

.about__button:focus {
  outline: none;
  background-color: var(--section-hero-button);
}

.about__button:hover {
  border: 3px solid var(--section-hero-button);
  background-color: var(--section-hero-button);
}

.about__button:active {
  border: 3px solid var(--main-color);
  background-color: var(--main-color);
}

.about__tab-right {
  flex-direction: column;
  width: 49.2%;
}

.item-about {
  background-position: 60px center;
  background-size: 190px 165px;
  background-repeat: no-repeat;
  padding: 65px 118px 65px 299px;
  outline: 1px solid var(--main-color-text-grey);
}

.item-about_1 {
  background-image: url(../img/about1.svg);
}

.item-about_2 {
    background-image: url(../img/about2.svg);
}

.item-about:not(:last-child) {
  margin-bottom: 32px;
}

.item-about__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--main-color-text-dark);
}

.item-about__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color:var(--main-color-text-dark);
}

/* how we work */
.work__title {
  margin: 0;
  margin-bottom: 50px;
}

.work__list {
  margin-bottom: 45px;
}

.work__item {
  margin-right: 85px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.work__item-button {
  color: var(--main-color-text-dark);
  transition: color .2s ease;
}

.work__item-button:focus {
  outline: 2px solid var(--section-hero-button);
  outline-offset: 3px;
}

.work__item-button:hover {
  color: var(--section-hero-button);
}

.work__item-button:active {
  color: var(--main-color);
}

.work__wrapper {
  justify-content: space-between;
}

.work__article-bg {
  width: 49.2%;
  background-image: url(../img/work-step1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.work__article {
  max-width: 758px;
}

.work__subtitle {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--main-color-text-dark);
}

.work__descr {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-color-text-dark);
}

.work__button-item:not(:last-child) {
  margin-right: 32px;
}

.work__button-link {
  display: block;
  padding: 20px 38px;
  font-size: 16px;
  line-height: 20px;
}

.work__button-link-more {
  background-color: var(--main-color);
  font-weight: 700;
  color: var(--main-color-text-light);
  transition: background-color .2s ease;
}

.work__button-link-more:focus {
  outline: none;
  background-color: #F7B045;
}

.work__button-link-more:hover {
  background-color: #F7B045;
}

.work__button-link-more:active {
  outline: none;
  background-color: var(--main-color);
}

.work__button-link-agr {
  background-color: transparent;
  font-weight: 400;
  color: var(--main-color-text-dark);
  border: 1px solid var(--main-color-text-dark);
  transition: background-color .3s ease;
  transition: color .1s ease;
}

.work__button-link-agr:focus {
  outline: none;
  background-color: #666666;
  color: #FFFFFF;
}

.work__button-link-agr:hover {
  outline: none;
  background-color: #666666;
  color: #FFFFFF;
}

.work__button-link-agr:active {
  outline: none;
  background-color: #000000;
  color: #FFFFFF;
}

/* questions and answers */
.section-qa__title {
  margin: 0;
  margin-bottom: 40px;
}

.item-qa__wrapper {
  justify-content: space-between;
  align-items: center;
}

.item-qa {
  padding: 30px 0;
  border-top: 1px solid var(--main-color-text-grey);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--main-color-text-dark);
  cursor: pointer;
  transition: border-top .1s linear, color .1s linear;
}

.item-qa__plus ellipse {
  fill: #ECECEC;
  transition: fill .1s linear;
}

.item-qa__plus path {
  fill: #666666;
  transition: fill .1s linear;
}

.item-qa__plus_active {
  display: none;
}

.item-qa:last-child {
  border-bottom: 1px solid var(--main-color-text-grey);
}

.item-qa:hover {
  border-top: 1px solid var(--section-hero-button);
  border-bottom: 1px solid var(--section-hero-button);
  color: var(--section-hero-button);
}

.item-qa:hover +.item-qa {
  border-top: none;
}

.item-qa:hover .item-qa__plus ellipse {
  fill: var(--section-hero-button);
}

.item-qa:hover .item-qa__plus path {
  fill: #FFFFFF;
}

.item-qa:active {
  border-top: 1px solid var(--main-color-text-grey);
  border-bottom: 1px solid var(--main-color-text-grey);
  color: var(--main-color-text-dark);
}

.item-qa:active .item-qa__plus {
  display: none;
}

.item-qa:active .item-qa__plus_active {
  display: block;
}

.item-qa__q {
  margin: 0;
  width: 90%;
}

/* footer */
.footer {
  background-color: var(--bg-footer);
}

.footer__container {
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
}

.footer__column_1 {
  margin-right: 350px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer-menu {
  margin-bottom: 90px;
}

.footer-menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--main-color-text-grey);
  width: max-content;
  transition: color .2s ease;
}

.footer-menu__link:focus {
  outline: 2px solid var(--section-hero-button);
  outline-offset: 3px;
}

.footer-menu__link:hover {
  color: var(--section-hero-button);
}

.footer-menu__link:active {
  outline: none;
  color: var(--main-color);
}

.item-social {
  margin-right: 25px;
}

.item-social__link path{
  transition: fill .2s ease;
}

.item-social__link:focus {
  outline: 2px solid var(--section-hero-button);
}

.item-social__link:hover path{
  fill: var(--section-hero-button);
}

.item-social__link:active {
  outline: none;
}

.item-social__link:active path{
  fill: var(--main-color);
}

.form {
  flex-direction: column;
  max-width: 572px;
  margin-right: 236px;
}

.form__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--main-color-text-grey);
}

.form__list {
  margin-bottom: 15px;
}

.form__item:not(:last-child) {
  margin-bottom: 25px;
}

.form__field {
  width: 100%;
  height: 60px;
  background-color: var(--footer-input-bg);
  border: none;
  padding: 20px 20px;
  color: var(--main-color-text-grey);
  transition: background-color .2s ease;
  transition: color .2s ease;
}

.form__field:focus {
  outline: none;
  background-color: #666666;
}

.form__field:hover {
  background-color: #666666;
}

.form__field:active {
  outline: none;
  background-color: #666666;
  color: var(--main-color-text-light);
}

.form__message {
  height: 150px;
  resize: none;
}

.submit-wrapper {
  align-items: center;
}

.footer__submit {
  width: max-content;
  padding: 19px 52px;
  background-color: var(--main-color);
  color: var(--main-color-text-light);
  margin-right: 20px;
  transition: color .2s ease;
  transition: background-color .2s ease;
}

.footer__submit:focus {
  outline: none;
  background-color: #F7B045;
}

.footer__submit:hover {
  background-color: #F7B045;
}

.footer__submit:active {
  outline: none;
  background-color: var(--main-color);
}

.footer__checkbox {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-color-text-grey);
}

.footer__checkbox input {
  margin-right: 5px;
}

.footer__column_3 {
  max-width: 363px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-color-text-grey);
}

@media (max-width: 1366px) {
  .hero__title {
    max-width: none;
  }

  .hero__text {
    max-width: none;
  }

  .about__descr {
    max-width: none;
  }

  .tab__left {
    width: 60%;
  }

  .tab__right {
    width: 37%;
  }

  .item-about {
    background-position: 25px center;
    padding: 45px 45px 45px 250px;
  }

  .footer__container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__column_1 {
    max-width: 40%;
  }

  .footer__column_2 {
    max-width: 45%;
  }

  .footer__column_3 {
    max-width: 25%;
  }

  .footer__column {
    flex-shrink: 1;
    margin-right: 30px;
  }

  .form {
    margin-right: 0;
  }
}

@media (max-width: 1024px) {
  .about__tab {
    flex-direction: column;
  }

  .about__tab-left {
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
  }

  .about__tab-right {
    width: 100%;
  }
  .footer__column {
    margin-right: 50px;
  }
  .footer__column_3 {
    max-width: 75%;
  }
}

@media (max-width: 992px) {
  .header__nav {
    display: none;
  }

  .header__search {
    margin-left: auto;
    margin-right: 0;
  }

  .burger {
    display: block;
    margin-right: 0;
    margin-left: 30px;
  }

  .banner__slide {
    padding: 50px;
  }

  .about__tab {
    flex-direction: column;
  }

  .about__tab-left {
    width: 100%
  }

  .about__tab-right {
    width: 100%
  }
}

@media (max-width: 768px) {
  .footer-menu {
    margin-bottom: 25px;
  }
}
