html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
  url('../fonts/MullerRegular.woff2') format("woff2"),
  url('../fonts/MullerRegular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Light'),
  url('../fonts/MullerLight.woff2') format("woff2"),
  url('../fonts/MullerLight.woff') format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
  url('../fonts/MullerMedium.woff2') format("woff2"),
  url('../fonts/MullerMedium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
  url('../fonts/MullerBold.woff2') format("woff2"),
  url('../fonts/MullerBold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-color: #CC9933;
  --main-color-dark: #A47312;
  --main-color-light: #E9C479;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: 1px solid var(--main-color);
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  background-color: #F1F1F1;
}

/*glob*/
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

section {
  margin: 0;
  margin-bottom: 70px;
}

.button {
  padding: 13px 20px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  font-size: 16px;
  line-height: 16px;
  color: var(--main-color);
  cursor: pointer;
  transition: color .3s ease;
  transition: background-color .3s ease;
}

.button:focus {
  background-color: var(--main-color);
  color: white;
  outline: none;
}

.button:hover {
  background-color: var(--main-color);
  color: white;
}

.button:active {
  background-color: var(--main-color-dark);
  color: white;
}

/* header */
.header-container {
  flex-direction: column;
  justify-content: center;
}

.header {
  margin-bottom: 70px;
}

.header-1line {
  margin-bottom: 30px;
  margin-top: 30px;
  align-items: center;
}

.header-logo {
  margin: 0;
}

.header-tel {
  margin-left: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
  transition: color .1s linear;
}

.header-tel:focus {
  color: var(--main-color);
}

.header-tel:hover {
  color: var(--main-color);
}

.header-tel:active {
  color: var(--main-color-dark);
  outline: none;
}

.header-account {
  margin-left: auto;
  font-size: 16px;
  line-height: 16px;
  color: var(--main-color);
  transition: color .2s linear;
}

.header-account:hover {
  color: var(--main-color-light);
}

.header-account:active {
  outline: none;
  color: var(--main-color-dark);
}

.header-account-icon path {
  transition: fill .2s linear;
}

.header-account:hover .header-account-icon path {
  fill:var(--main-color-light);
}

.header-account:active .header-account-icon path {
  fill:var(--main-color-dark);
}

.header-2line {
  justify-content: space-between;
  height: 70px;
  background-color: #FFF;
  border-radius: 15px;
}

.header-list {
  border-right: 1px solid #E1E1E1;
  margin: 10px 0px 10px 45px;
}

.header-list-item {
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.header-link {
  transition: color .1s linear;
}

.header-link:focus {
  color: var(--main-color);
}

.header-link:hover {
  color: var(--main-color);
}

.header-link:active {
  color: var(--main-color-dark);
  outline: none;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-list-item {
  margin-right: 53px;
}

.header-buttons {
 align-items: center;
}

.header-button-item {
  margin-right: 45px;
}

/* special */
.special-left {
  flex-direction: column;
  margin-right: 23px;
}

.special-item {
  width: 573px;
  border-radius: 15px;
  padding: 40px;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  }

.special-item:not(:last-child) {
  margin-bottom: 23px;
}

.special-maldives {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/special-maldives.png');
}

.special-hottour {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/special-hottour.png');
}

.special-item-lux {
  padding-top: 211px;
  background-image: url('../img/special-lux.png');
}

.special-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
  width: 310px;
}

.special-item-title-lux {
  font-size: 60px;
  line-height: 60px;
}

.special-item-descr {
  margin: 0;
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
}

.special-item-link {
  margin-top: auto;
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
  width: max-content;
  display: flex;
  align-items: center;
  transition: color .1s linear;
}

.special-item-link:hover .special-more-icon {
  margin-left: 10px;
}

.special-item-link:active {
  color: white;
  outline: none;
}

.special-more-icon {
  margin-left: 5px;
}

/* about */
.about-text {
  margin: 0;
  max-width: 888px;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

/* services */
.services-list {
  flex-wrap: wrap;
  gap: 23px;
}

.services-item {
  width: 573px;
  min-height: 330px;
  padding-bottom: 26px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 190px;
  background-color: #FFFFFF;
  border-radius: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  }

.services-item-1 {
  background-image: url('../img/services-preview1.jpg');
}

.services-item-2 {
  background-image: url('../img/services-preview2.jpg');
}

.services-item-3 {
  background-image: url('../img/services-preview3.jpg');
}

.services-item-4 {
  background-image: url('../img/services-preview4.jpg');
}

.services-item-title {
  margin: 0;
}

.services-item-link {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--main-color);
  display: flex;
  align-items: center;
  width: max-content;
  transition: stroke .1s linear;
}

.services-item-link:hover {
  color: var(--main-color-light);
}

.services-more-icon path {
  stroke: var(--main-color);
  transition: stroke .1s linear;
}

.services-item-link:hover .services-more-icon path{
  stroke: var(--main-color-light);
}

.services-item-link:hover .services-more-icon {
  margin-left: 10px;
}

.services-item-link:active {
  color: var(--main-color-dark);
  outline: none;
}

.services-item-link:active .services-more-icon path {
  stroke: var(--main-color-dark);
}

.services-more-icon {
  margin-left: 5px;
}

.services-item-text {
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

/* advantages */
.advantages-list {
  flex-wrap: wrap;
  /* gap: 23px; */
}

.advantages-item {
  width: 275px;
  min-height: 275px;
  padding: 116px 42px 41px 45px;
  background-color: #FFFFFF;
  border-radius: 15px;
  background-position: 40px 45px;
  background-repeat: no-repeat;
  background-size: 67px 67px;
  margin-bottom: 23px;
  }

.advantages-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.advantages-item-1 {
  background-image: url('../img/adv1.svg');
}

.advantages-item-2 {
  background-image: url('../img/adv2.svg');
}

.advantages-item-3 {
  background-image: url('../img/adv3.svg');
}

.advantages-item-4 {
  background-image: url('../img/adv4.svg');
}

.advantages-item-5 {
  background-image: url('../img/adv5.svg');
}

.advantages-item-6 {
  background-image: url('../img/adv6.svg');
}

.advantages-item-7 {
  background-image: url('../img/adv7.svg');
}

.advantages-item-8 {
  background-image: url('../img/adv8.svg');
}

.advantages-descr {
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

/* accomodation */
.accom-list {
  flex-wrap: wrap;
  gap: 23px;
}

.accom-item {
  width: 374px;
  min-height: 440px;
  margin: 0;
  background: #FFFFFF;
  border-radius: 15px;
}

.accom-image {
  border-radius: 15px 15px 0 0;
}

.accom-descr {
  padding: 36px 45px;
}

.accom-price {
  margin: 0;
  margin-right: 44px;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.accom-name {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.accom-location {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.accom-button {
  display: inline-block;
}

.accom-price {
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.from {
  color: #999999;
}

.number {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.price-rating-line {
  margin-bottom: 16px;
  justify-content: space-between;
}

.accom-item-link {
  margin: auto auto 27px 54px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.accom-item-showmore {
  background-image: linear-gradient(to top, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/accom-showmore.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.accom-item-link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.accom-more-icon {
  margin-left: 5px;
}

/*order*/
.order-section {
  background-color: #E9E9E9;
  border-radius: 15px;
  padding-top: 38px;
  padding-bottom: 71px;
}

.form {
  background-color: #FFFFFF;
  border-radius: 15px;
  width: 1080px;
  height: 106px;
  margin-left: 45px;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
}

.form-column {
  flex-direction: column;
}

.form-column:not(:last-child) {
  padding-right: 20px;
  border-right: 1px solid #E1E1E1;
}

.form-name {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  margin-bottom: 15px;
}

.form-select {
  border: none;
  width: 169px;
}

.form-input {
  border: none;
}

.form-input-date {
  width: 142px;
}

.form-input-number {
  border-bottom: 1px solid #CCCCCC;
  width: 121px;
}

.form-button {
  padding: 13px 30px;
}

/* contacts */
.contacts-wrapper {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 44px;
  justify-content: space-between;
}

.contacts-column {
  flex-direction: column;
  width: 35%;
}

.contacts-picture {
  width: 60%;
  background-image: url(../img/contacts-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.contacts-line {
padding-bottom: 23px;
border-bottom: 1px solid #C4C4C4;
}

.contacts-line:not(:first-child) {
  padding-top: 25px;
}

.contacts-name {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  display: block;
  width: 145px;
}

.contacts-detailes {
  flex-direction: column;
  width: 230px;
}

.contacts-detailes-address {
  margin: 0;
}

.contact-detailes-tel {
  font-size: 16px;
  line-height: 150%;
  color: var(--main-color);
  width: max-content;
  transition: color .1s linear;
}

.contact-detailes-tel:hover {
  color: var(--main-color-light);
}

.contact-detailes-tel:active {
  color: var(--main-color-dark);
  outline: none;
}

.contacts-detailes-email {
  font-size: 16px;
  line-height: 150%;
  color: var(--main-color);
  width: max-content;
  transition: color .1s linear;
}

.contacts-detailes-email:hover {
  color: var(--main-color-light);
}

.contacts-detailes-email:active {
  color: var(--main-color-dark);
  outline: none;
}

.contacts-detailes-emaildescr {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}

.contacts-details-schedule {
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.contacts-button {
  width: max-content;
  padding: 27px 29px;
  margin-top: 45px;
}


/* footer */
.footer-wrapper {
  background-color: #333333;
  border-radius: 15px;
  padding: 44px 52px;
  background-image: url(../img/footer-bg.svg);
  background-position: 738px bottom;
  background-repeat: no-repeat;
}

.footer-left {
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  margin-right: 102px;
}

.footer-right {
  flex-direction: column;
}

.footer-copyright,
.footer-disclaimer {
  margin: 0;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
  margin-bottom: 49px;
}

.footer-copyright {
  margin-bottom: 30px;
}

.footer-user-agr {
  font-size: 16px;
  line-height: 150%;
  color: var(--main-color);
  width: max-content;
  transition: color .1s linear;
}

.footer-user-agr:hover {
  color: var(--main-color-light);
}

.footer-user-agr:active {
  color: var(--main-color-dark);
  outline: none;
}

.footer-address {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  margin-top: 8px;
  margin-bottom: 10px;
}

.footer-tel-list {
  flex-direction: column;
  margin-bottom: 15px;
}

.footer-email-list {
  flex-direction: column;
}

.footer-tel {
  font-size: 16px;
  line-height: 150%;
  color: var(--main-color);
  transition: color .1s linear;
}

.footer-tel:hover {
  color: var(--main-color-light);
}

.footer-tel:active {
  color: var(--main-color-dark);
}

.footer-email-list-item {
  display:inline-block;
  font-size: 16px;
  line-height: 150%;
  color: var(--main-color);
  transition: color .1s linear;
}

.footer-email-list-item:hover {
  color: var(--main-color-light);
}

.footer-email-list-item:active {
  color: var(--main-color-dark);
}

.social {
  flex-direction: column;
  margin-left: auto;
}

.social-item {
  margin-bottom: 20px;
}

.social-link {
  display: block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-link {
  transition: fill .2s ease;
}

.social-link:focus {
  outline: none;
}

.social-link:focus path {
  fill: var(--main-color);
  outline: none;
}

.social-link:hover path{
  fill: var(--main-color);
}

.social-link:active path{
  fill: var(--main-color-dark);
  outline: none;
}
